body {
  background-color: #fefefe;
  padding-top: 60px; }

.navbar {
  margin-bottom: 10px; }

.nav li a span.glyphicon {
  margin-right: 5px; }

#container {
  height: 100%;
  width: 100%; }

.huge {
  font-size: 40px; }

.panel-green {
  border-color: #5cb85c; }
  .panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c; }

.dashboard-first .panel-body {
  max-height: 380px;
  overflow-x: scroll; }

.progress {
  margin-bottom: 10px;
  height: 12px; }

.comment {
  margin: 0;
  padding: 0;
  list-style: none; }
  .comment li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999; }
  .comment li:last-child {
    border-bottom: none; }
